.Rproj.user
.Rhistory
.RData
.Ruserdata
.idea
/.quarto/

# Ignore knitr/RMarkdown caches (These are heavy and machine-specific)
*_cache/

# Ignore Quarto temporary internal files
.quarto/

**/*.quarto_ipynb
test_files/
iml/